* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  line-height: 1.5;
}

/* nav shit */
nav {
  display: flex;
  width: 100%;
  margin: 0 auto;
  background: #000;
  padding: 10px 0;
  position: fixed;
}

nav ul li {
  display: inline-block;
}

nav ul {
  list-style: none;
  text-align: center;
  margin: 1rem auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0;
}

nav ul li a {
  display: block;
  text-decoration: none;
  color: #fff;
  font-weight: 800;
  text-transform: uppercase;
  margin: 0 10px;
  font-size: 1.5rem;
}
nav ul li a,
nav ul li a:after,
nav ul li a:before {
  transition: all 0.5s;
}
nav ul li a:hover {
  color: rgb(105, 105, 105);
}

/* main title */

.main {
  margin-top: 7rem;
}

.main-title-link {
  text-decoration: none;
  text-align: center;
  color: #000;
}

/* article business */

.break-down {
  margin: auto 3rem;
}

.row {
  width: 100%;
  display: flex;
}

article.article {
  /* display: flex; */
  padding: 0 3rem;
}

.term {
  flex: 10%;
  border: 1px solid #000;
  height: relative;
  background: rgb(219, 219, 219);
  text-align: center;
}

.definition {
  flex: 90%;
  border: 1px solid #000;
  padding: 0.5rem;
  font-size: 1.5rem;
  /* height: 3rem; */
  background: rgb(250, 232, 232);
}

.term-name,
.term-definition,
.term-binary {
  font-size: 1.5rem;
  padding: 0;
  text-align: center;
  /* align-content: center;
  justify-content: center;
  top: 50%;
  transform: translateY(-50%); */
}

.term-header {
  font-weight: bold;
  font-size: 1.5rem;
}

.term-definition {
  margin-left: 3rem;
}

.binary {
  flex: 5%;
  border: 1px solid #000;
  text-align: center;
  background-color: rgb(163, 230, 248);
}

.break-down-title {
  font-size: 1.75rem;
}

.break-down-header {
  font-size: 1.75rem;
}

.example,
.break-down-definition {
  font-size: 1.5rem;
}

/* list for Manipulating Files section */

.ulist-item {
  font-size: 1.5rem;
}

.ulist-item u {
  color: navy;
}

/* for examples of the command line */

.cmd-line {
  background-color: #000;
  color: #fff;
  padding: 1rem;
  font-size: 1.5rem;
}

.directory {
  color: greenyellow;
}

/* warning shit */

.warning {
  border: 1px solid red;
  padding: 1.5rem;
}

.warning-header {
  color: crimson;
}

.warning-content {
  color: rgb(170, 0, 34);
  font-size: 1.5rem;
}
